* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #000;
    
}

body {

    color: #fff;
}

.hero {
    width: 100%;
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    background-color: #E8E8E8;
  
    inset: 0;
    backdrop-filter: blur(2px);
}

.content {
    position: relative;
    max-width: 650px;
    padding: 20px;
    z-index: 2;
}

.profile-pic{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.profile-pic img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
    margin-bottom: 15px;
}

.agency {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 3px;
}

.role {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 12px;
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.self {
    font-size: 14px;
    opacity: .8;
    margin-bottom: 20px;
}

.social a {
    color: #fff;
    font-size: 22px;
    margin: 0 6px;
    transition: 0.3s;
}

.social a:hover {
    color: #ccc;
}

.description {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 25px;
    opacity: .9;
}

.read-more {
    background: transparent;
    border: 1px solid #000;
    padding: 10px 25px;
    font-size: 15px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.read-more:hover {
    background: rgba(255, 255, 255, 0.2);
}


.stats-container {
    margin-top: 25px;
    text-align: center;
    color: #000;
}

.stats-row {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 25px;
    color: #000;
}

.stats-row.single {
    justify-content: center;
}

.stat {
    text-align: center;
}

.stat-icon {
    width: 45px;
    height: auto;
    margin-bottom: 6px;
}

.stat h3 {
    font-size: 26px;
    margin-bottom: 3px;
}

.stat p {
    font-size: 14px;
    opacity: 0.9;
}

