body{
    font-family: Onest;
    padding: 0;
    background-color: #000;
}

.container{
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}