#agents__card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;
}

/* each card = 49% width */
.agents__artist-card {
  width: 49%;
  margin: ;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  margin: 10px 0;
}

/* image section */
.agents__card-image{
  width: 100%;
  height:63%;
  border-radius: 0;
  display: block;
  max-width: max-content;
}
.agents__card-image-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

/* green content area */
.agents__card-content {
  background: #1fab4f;
  padding: 16px;
  text-align: left;
  color: white;
}

.agents__card-name {
  font-size: 20px;
  margin: 10px;
}

.agents__card-role {
  font-size: 14px;
  opacity: 0.9;
  margin: 10px;
}

/* button */
.agents__card-profile-btn {
  background: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid white;
}
