.card {
  display: block; /* since they're <a> now */
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card {
  flex: 0 0 22em;
  background: var(--surface);
  /* border: 1px solid var(--line); */
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.card__media {
  width: 350px;
  height: 180px;
  object-fit: cover;
}

.card__body {
  padding: 12px;
}
.card__body span{
  color:white;
}
.card__title {
  margin: 0 0 6px;
  font-size: 1rem;
}

.card__location{
  font-size: 20px;
}

.card__tion{
  font-size: 15px;
}
.card__meta {
  font-size: 0.9rem;
  color: var(--muted);
}
