.card {
  display: block; /* since they're <a> now */
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card {
  flex: 0 0 em;
  display: flex;
  flex-direction: column;
  background: var(--surface);
  /* border: 1px solid var(--line); */
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}


.card__media {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__body {
  padding: 12px;
}
.card__body span{
  color:white;
  font-size: 15px;
  justify-content: center;
  display: flex; 
  width: 80px;

}
.card__title {
  margin: 0 0 6px;
  font-size: 1rem;
}

.card__location{
  font-size: 20px;
}

.card__tion{
  font-size: 15px;
}
.card__icon i{
  font-size: 22px;
 
}

.badge span{
}


.badge{
  width: 80px;
}
.card__meta {
  font-size: 0.9rem;
  color: var(--muted);
}
