.card-top__latest-properties-long{
    width:65%;
    margin: 1%;
    position: relative;
    padding: 0;
    height: 200px;
}
.card-top__latest-properties-short{
    width: 30%;
    position: relative;
    margin: 1%;
    padding: 0;
    height: 200px;
}
.latest-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.card-top__media-latest{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-top_title-latest-short{
    position: absolute;
    bottom: 50px;
}
.card-top__meta-latest-short{
    position: absolute;
    bottom: 10px;
}
.card-top__meta-latest-long{
    position: absolute;
    bottom: 10px;
}
.card-top_title-latest-long{
    position: absolute;
    bottom: 50px;
}
.card-top__body-latest{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.395);
    top: 0;
    right: 0;
}