:root {
  /* Nude + Luxury palette */
  --bg: #f6f2ee;

  --surface: #F4F6F0;

  --text: #1d1b16;

  --muted: #7a736b;

  --accent: #14AE5C;

  --accent-600: #9f7c41;

  --line: #e9e2db;

  --badge: #14AE5C;

  --color: #E8E8E8;

  --radius: 14px;

  --shadow: 0 6px 20px rgba(0, 0, 0, 0.03);

  --maxw: 640px;

  --font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial;

  --backgroud-card:#E8E8E8;

  --bgsection:#EBEBEB;

    --border-radius:10px;

  --icon:#14AE5C;

  --border:0.2px solid rgb(207, 207, 207);

  --txtwhite:#fff;

  --txtblack:#000;
  
  --section-bg:;
}

card-top__title card-top_title-latest-long{
    
}

.card-top__latest-properties-long{
    width:65%;
    margin: 1%;
    position: relative;
    padding: 0;
    height: 200px;
}
.card-top__latest-properties-short{
    width: 30%;
    position: relative;
    margin: 1%;
    padding: 0;
    height: 200px;
}
.latest-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.card-top__media-latest{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-top_title-latest-short{
    position: absolute;
    bottom: 50px;
}
.card-top__meta-latest-short{
    position: absolute;
    bottom: 10px;
}
.card-top__meta-latest-long{
    position: absolute;
    bottom: 10px;
}
.card-top_title-latest-long{
    position: absolute;
    bottom: 50px;
}
.card-top__body-latest{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.395);
    top: 0;
    right: 0;
}