
.about__page{
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
}
.home{
    margin-left: 5px;
}
.about__img{
    width: 100%;
    margin-top: 10px;
}
.about__new{
    text-align: center;
}
.agents__card-image img{}