body{
    background-color: #ffffff;
    color: black;
}

.container {
    width: 100%;
    margin: 0 ;
    background-color: yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.box-1 {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #E8E8E8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


}

.box-1-1 {
    width: 100%;
    display: flex;
    align-items: center;

}

.box-1-2 {
    width: 100%;
    display: flex;
    align-items: center;
}
.box-1-1 span a{
    font-size: 13px;
    color: green;
}

.box-1-2{
    justify-content: space-between;
    font-size: 10px;
}

.box-1-2 span{
    font-size: 16px ;
}

.picture-section {
    width: 100%;
    height: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.picture-1 {
    width: 50%;
    background-color: gray;
    display: flex;
}

.picture-2{
    width: 50%;
    background-color: darkgray;
    display: block;
}
