body{
    background-color: #ffffff;
    color: black;
}

.container {
    width: 100%;
    margin: 0 ; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-1 {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #E8E8E8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


}

.box-1-1 {
    width: 100%;
    display: flex;
    align-items: center;

}

.box-1-2 {
    width: 100%;
    display: flex;
    align-items: center;
}
.box-1-1 span a{
    font-size: 13px;
    color: green;
}

.box-1-2{
    justify-content: space-between;
    font-size: 10px;
}

.box-1-2 span{
    font-size: 16px ;
}

.picture-section {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    margin-top:10px;
    padding: 15px;
    border-radius: 30px;
    padding:0;
}

.picture-1 {
    width: 50%;
    display: flex;
    justify-content: center;

}

.picture-1 img{
    border-radius: 20px;
    width: 100%;
    object-fit:cover;
}

.picture-2{
    width: 50%;
    display: block;
}

.picture-2-1{
    width: 100%;
    height: 50%;
}

.picture-2-1 img{
    border-radius: 20px;
    width: 100%;
    object-fit:cover;
}

.picture-2-2 img{
   border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.discription {
    width: 100%;
    background-color: lightgray;
    display: block;
    justify-content: center;
    margin-top:10px;
    padding: 15px;
    border-radius: 10px;
    padding: 10px 5px 5px 0;
}

.text-section{
    width: 100%;
    display: block;
    margin-top: 10px;
}

.text-description h1{
    font-size: 20px;
    padding-left: 10px ;
}

.line-under{
    width: 95%;
    padding: 0.90px;
    background-color: gray;
    display: flex;
    margin-left: 10px;
}

.text-section p{
    font-size: 15px;
    padding-left:10px ;
}

.details-section{
    width: 100%;
    display: block;
    margin-top: 10px;
}

.photos-section {
    background-color: lightgray;
    display: block;
    justify-content: center;
    border-radius: 15px;
    
}

.text-photos{
    font-size: 15px;
    padding-left: 10px ;
}   

.photos-box{
    width: 100%;
    display: flex;
    
   
}

.images-photo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: lightgray;

}

.images-photo img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}

.address-section {
    background: lightgray;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}

.address-box h2 {
    font-size: 16px;
}

.address-content {
    border-top: 1px solid lightgray;
    padding-top: 1px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #000;
}

.row:last-child {
    border-bottom: none; 
}


.label {
    font-size: 10px;
    color: #555;
}


.value {
    font-size: 10px;
    font-weight: 500;
    color: #000;
}

.info-agency {
     width: 100%;
    background-color: lightgray;
    display: block;
    justify-content: center;
    margin-top:10px;
    padding: 15px;
    border-radius: 10px;
    padding: 10px 5px 5px 0;
}

.agnecy-info{
    width: 100%;
    display: flex;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 10px;
}

.img-agency{
    width: 100px;
    width: 30%;
    display: block;
    padding: 10px;
}

.information-agency{
    width: 70%;
    display: block;
    padding-left: 10px;
    padding-top: 5px;
}

