

@media screen and (min-width:1080px){
    .container{
        max-width: 1080px;
        width: 100%;
        margin: auto;
    }
    .agents__artist-card{
        width: 21%;
        gap: 0;
        margin: 1%;
    }
    .nav__bar{
        width: 100%;
        max-width: 1080px;
    }
    .yayy__emoji-image{
        margin-left: 190px;
        margin-bottom: 15px;
    }
    .nav__list{
        display: flex;
        justify-content: center;
    }
    .nav__item{
        padding: 0;
        font-weight: 600;
        margin: 0 30px ;
    }
    .nav__toggle{
        display: none;
    }
    .agent-card{
        width: 49%;
    }
    .sidebar{
        display: none;
    }
    .nav__item{
        display: block;
    }

@media screen and (max-width:375px) {
    
    .container{
        max-width: 375px;
        width: 100%;
    }
    .agents__artist-card{
        width: 95%;
        margin: 1%;
        margin-bottom: 20px;
    }
    .agent-card{
        width:100%;
    }
    .pagination{
        justify-content: center;
    }
        .yayy__emoji-image{
        margin-left: 40px;
        margin-bottom: 15px;
    }
    .view-btn{
        margin: auto;
    }
    .agents-container {
        display: block;
        max-width: 375px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .agent-card{
        width: 100%;
    }
}