

@media screen and (min-width:1080px){
    .container{
        max-width: 1080px;
        width: 100%;
    }
    .agents__artist-card{
        width: 24%;
        gap: 0;
        margin: 1%;
    }
    .yayy__emoji-image{
        margin-left: 190px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:320px) {
    .container{
        max-width: 320px;
        width: 100%;
    }
    .agents__artist-card{
        width: 95%;
        margin: 1%;
        margin-bottom: 20px;
    }
    .pagination{
        justify-content: center;
    }
        .yayy__emoji-image{
        margin-left: 40px;
        margin-bottom: 15px;
    }
}